/* ActivityMap.css */

.activity-map {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px; /* Satırlar arası boşluk */
}

.activity-row {
  display: flex;
  gap: 2px; /* Noktalar arası boşluk */
}

.activity-dot {
  width: 10px; /* Nokta genişliği */
  height: 10px; /* Nokta yüksekliği */
  border-radius: 50%;
  background-color: #e0e0e0; /* Varsayılan renk */
}


.level-0 {
  background-color: #cacaca;
}

.level-1 {
  background-color: #bb66ff;
}

.level-2 {
  background-color: #9933ff;
}
.level-3 {
  background-color: #5c1f99;
}

.level-4 {
  background-color: #361259;
}

/* ActivityMap.css */

.activity-dot:hover::after {
  content: attr(
    data-tooltip
  ); /* data-tooltip özelliğini kullanarak içerik ekleyin */
  position: absolute; /* Tooltip'i konumlandırmak için */
  white-space: nowrap; /* Metnin tek satırda kalmasını sağlar */
  bottom: 100%; /* Noktanın hemen üstünde görünmesini sağlar */
  left: 50%; /* Noktanın merkezine göre hizalar */
  transform: translateX(-50%); /* Merkezi noktanın tam üzerine ayarlar */
  background-color: rgb(65, 64, 64); /* Tooltip arkaplan rengi */
  color: white; /* Metin rengi */
  padding: 4px 8px; /* Padding */
  border-radius: 4px; /* Kenar yuvarlaklığı */
  font-size: 12px; /* Font boyutu */
  z-index: 1000; /* Diğer öğelerin üstünde görünmesini sağlar */
}

.activity-dot:hover {
  position: relative; /* :hover psödo-sınıfı için relative pozisyonlama */
}
