.edu-cont {
  padding-bottom: 170px;
}

.form-group {
  margin-bottom: 15px;
}

.button-edc {
  background-color: blueviolet;
  border: none;
  padding: 10px 15px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.button-edc:hover {
  background-color: #5e35b1;
}

.form-check-label {
  margin-left: 5px;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.form-control:required:invalid {
  color: gray;
}

.form-control option[value=""][disabled] {
  display: none;
}

.form-control option {
  color: gray;
}

.edc-label {
  margin-top: 20px;
  color: gray;
  font-weight: 100;
  display: block;
}

.edc-select {
  display: block;
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background: #fff
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' fill='%23999'%3E%3Cpath d='M807.04 328.192l-295.04 295.616-295.04-295.616h590.08z'/%3E%3C/svg%3E")
    no-repeat right 0.75rem center/8px 10px;
  border: 1px solid #ced4da;
  appearance: none;
}

.edc-input {
  margin-top: -5px;
  border-radius: 8px;
  height: 50px;
}

.edc-select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.edc-select::-ms-expand {
  display: none;
}

.edc-select option {
  padding: 0.5rem;
}

.edc-check {
  margin-top: 5px;
  margin-bottom: 20px;
  color: gray;
  font-weight: lighter;
  padding-left: 0px !important;
}

.edc-check input[type="checkbox"] {
  display: none;
}

.edc-check label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.edc-check label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.edc-check input[type="checkbox"]:checked + label::before {
  background-color: blueviolet; 
  border-color: rgb(118, 11, 218);
  box-shadow: 0 0 10px blueviolet;
}

.edc-check input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.edc-check-box {
  padding-left: 0px;
}

.edc-input-date {
  width: 100%;
}

.react-datepicker__input-container input {
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  margin-top: -5px;
  border-radius: 8px;
  height: 50px;
  width: 193% !important;
}

.education-list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.education-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.education-dates {
  font-weight: bold;
  color: #6c757d;
}

.education-details {
  flex-grow: 1;
  padding-left: 15px;
}

.education-university,
.education-department {
  margin-bottom: 5px;
}

.education-level {
  font-size: 0.9rem;
  color: #6c757d;
}

.education-card {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.education-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.education-year {
  font-weight: light;
  color: #6c757d;
}

.education-badge {
  background-color: rgb(172, 21, 172);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.8rem;
}

.education-body {
  padding: 0.75rem;
}

.education-university,
.education-department {
  font-size: 1rem;
  color: #333;
}

.education-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.delete-button-edu {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #d9534f;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 5px;
}

.delete-button-edu:hover {
  color: #c9302c;
}

.delete-button-edu i {
  font-size: 1.25rem;
}

.education-department {
  margin-left: -24px !important;
}

.ed-head {
  color: #6c757d;
  padding-left: 20px;
}

.ed-sub {
  padding-left: 8px;
}
@media (max-width: 768px) {
  .education-department {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .ed-dep-head {
    padding-left: 42px;
  }
}
